{% extends 'base.html' %}
{% load static %}

{% block content %}
<body class="bg-body">
    <div class="text-end mt-4">
      <a href="{% url 'create_blog' %}"><button type="button"  class="btn btn-primary">Create New Blog</button></a>
    </div>
      <div class="row row-cols-1 row-cols-md-4 g-5">
  {% for b in blog %}
    <div class="col">
    <div class="card h-100 mt-3 border border-dark">
      <img src="{{b.cover_image.url}}" class="card-img-top mt-3 " alt="..." style="height:250px">
      <div class="card-body">
        <a style="text-decoration:none" href="{% url 'view_my_blog' b.id %}"><h3 class="card-title text-dark text-center">{{b.title}}</h3></a>

      </div>
    </div>
  </div>
{% endfor %}
</div>
</body>

{% endblock %}